@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {
  --background: #ffffff;
  --foreground: #171717;
}*/


:root {
  --primaryColor: #005978;
  --backgroundColor: rgba(54, 108, 255, 0.08);
  --fontFamily: "poppins" !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}



.hl-app .hl_widget-body {
  padding: 20px;
  font-family: var(--fontFamily);
}

.date-picker-calendar {
  margin-top: 0 !important;
  max-width: 380px !important;
  min-height: 365px !important;
}

.selectable:hover .vdpCellContent{
  background: var(--primaryColor) !important;
  color: #fff !important;
}


.vdpArrowNext:after {
  border-left-color: var(--primaryColor) !important;
}

.vdpArrowPrev:after {
  border-right-color: var(--primaryColor) !important;
}

.hl-app .hl_widget-step1 .pick-hours--wrap {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  text-align: center !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  height: 380px !important;
  overflow-x: auto !important;
  width: 200px !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.vdpCell .vdpCellContent {
  display: inline-block !important;
  padding: 0 5px !important;
  height: 35px !important;
  line-height: 35px !important;
  text-align: center !important;
  vertical-align: middle !important;
  border: 1px solid transparent !important;
  width: 35px !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.details-item-step2 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
  padding-bottom: 10px !important;
  width: 200px !important;
  text-align: center !important;
}

.vdpInnerWrap {
  overflow: hidden !important;
  min-width: 28em !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  padding: 1em !important;
  background: #fff !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.hl-app .hl_widget-step1 .hl_widget--pick-date-time {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  padding: 2rem 1rem !important;
  border: 1px solid #0000001f !important;
  overflow: hidden;
}

.vdpArrowPrev {
  right: 2rem !important;
}

.vdpArrowPrev {
  left: inherit !important;
}

.vdpPeriodControls {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.vdpCellContent {
  color: var(--primaryColor) !important;
  border-radius: 50% !important;
  font-weight: 500 !important;
  background: var(--backgroundColor);
}

.hl-app .hl_widget-step1 .hour-select input:checked + label {
  background-color: var(--primaryColor) !important;
  border-color: var(--primaryColor) !important;
  color: #fff;
}

.vdpCellContent:hover {
  color: #fff !important;
  background: var(--primaryColor) !important;
}

.vdpCell.selected .vdpCellContent {
  color: #fff !important;
  background: var(--primaryColor) !important;
}

.hl-app .hl_button.--primary {
  border-color: var(--primaryColor) !important;
  background-color: var(--primaryColor) !important;
  color: #fff;
}

.date-picker-calendar td.disabled.vdpCell div.vdpCellContent {
  color: #909090 !important;
  background: #fff !important;
}

.hl-app .hl_widget-step1 .hour-select label {
  display: block;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 7px 20px;
  border: 1px solid var(--primaryColor) !important;
  border-radius: 4px;
  max-width: 150px;
  margin: 0 auto;
  font-weight: 500;
  width: 150px;
}

.hl-app .hl_widget-step1 h3 {
  font-size: 18px;
  color: #2a3135;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0 !important;
  text-align: left;
  padding: 0 15px;
}

.hl-app input[type=email],
.hl-app input[type=number],
.hl-app input[type=password],
.hl-app input[type=text],
.hl-app textarea {
  background-color: #ffffff !important;
  border: 1px solid var(--primaryColor) !important;
}

.hl-app .multi_select_calendar .multiselect__input {
  border: 0 !important;
}

.hl-app .multiselect__content-wrapper {
  -webkit-box-shadow: 0 8px 16px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 16px 5px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  width: 100% !important;
  margin-top: 1px;
  font-size: 13px !important;
  padding: 1rem !important;
}

.vdpHeadCellContent {
  color: #3d3d3d !important;
  text-transform: uppercase;
}

.multiselect__content-wrapper::-webkit-scrollbar,
.pick-hours--wrap::-webkit-scrollbar {
  width: 8px !important;
  border-radius: 10px !important;
}


/* Track */

.multiselect__content-wrapper::-webkit-scrollbar-track,
.pick-hours--wrap::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey !important;
  box-shadow: inset 0 0 5px grey !important;
  border-radius: 10px !important;
}


/* Handle */

.multiselect__content-wrapper::-webkit-scrollbar-thumb,
.pick-hours--wrap::-webkit-scrollbar-thumb {
  background: grey !important;
  border-radius: 10px !important;
}


/* Handle on hover */

.multiselect__content-wrapper::-webkit-scrollbar-thumb:hover,
.pick-hours--wrap::-webkit-scrollbar-thumb:hover {
  background: grey !important;
}

@media only screen and (max-width: 765px) {

  .hl-app .hl_widget-step1 .pick-hours--wrap,
  .details-item-step2 {
    width: 100% !important;
  }

  .hl-app .hl_widget-step1 .hour-select input:checked + label + button {
    padding: 7px 0px !important;
    height: 100%;
  }
}

/*# sourceMappingURL=fahimC.css.map */


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html{
  scroll-behavior: smooth;
}